{% extends 'main/body.html' %}
{% block content %}
<div class="parent-div  text-center mt-5 d-flex align-items-center justify-content-center" style="min-height: 80vh; border-radius: 20px;">
    <div class="col-lg-8 text-center">
        <h1 class="title">WELCOME</h1>
        <div class="table-responsive p-3" style="background-color: rgba(250, 250, 250, 0.801); border-radius: 20px;">
            <form action="" method="POST">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td>{{form.username.label}}</td>
                        <td>{{form.username}}</td>
                    </tr>
                    <tr>
                        <td>{{form.password.label}}</td>
                        <td>{{form.password}}</td>
                    </tr>
                </table>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 bg-dark p-2" style="border-radius: 20px;">
                        <button style="background-color: black; color: white; font-size: large; border: none;"
                         type="submit" value="login">LOGIN</button>
                    </div>
                </div>
                
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</div>

{% endblock content %}
